$color-principal: #2563eb;
$color-secundario: #1e293b;


$fuente: Arial, sans-serif;

$color-principal: #003b71;
$color-hover: #0056a3;
$color-texto-menu: white;

$espaciado: 20px;

$color-primario-Login: #003b71;
$color-secundario-Login: #f4f4f4;
$color-texto: #333;
$color-boton-Login: #0056a3;

